@model HomeVideo

@{
    ViewData["Title"] = "Detail";
}

<h2>Detail</h2>

<section class="notice-area two pt-140 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="notice-right-wrapper mb-25 pb-25">
                    <div class="notice-video">
                        <div class="video-icon video-hover">
                            <a class="video-popup" href="@Model.VideoLink">
                                @Model.VideoLink
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group mt-5">
                <a class="btn btn-outline-danger" asp-action="Index">Cancel</a>
            </div>
        </div>
    </div>
</section>