@model CheckPasswordVM
@{
    ViewData["Title"] = "ResetPassword";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <form method="post">
            <div class="card-body">
                <h4 class="card-title">Users</h4>
                <div class="mt-3">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="OldPassword">Old Password</label>
                        <div class="input-group">
                            <div class="input-group-prepend bg-transparent">
                                <span class="input-group-text bg-transparent border-right-0">
                                    <i class="mdi mdi-account-outline text-primary"></i>
                                </span>
                            </div>
                            <input asp-for="OldPassword" class="form-control form-control-lg border-left-0" placeholder="Old Password">
                        </div>
                        <span class="text-danger" asp-validation-for="OldPassword"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewPassword">New Password</label>
                        <div class="input-group">
                            <div class="input-group-prepend bg-transparent">
                                <span class="input-group-text bg-transparent border-right-0">
                                    <i class="mdi mdi-lock-outline text-primary"></i>
                                </span>
                            </div>
                            <input asp-for="NewPassword" class="form-control form-control-lg border-left-0" placeholder="New Password">
                        </div>
                        <span class="text-danger" asp-validation-for="NewPassword"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CheckNewPassword">New Repeat Password</label>
                        <div class="input-group">
                            <div class="input-group-prepend bg-transparent">
                                <span class="input-group-text bg-transparent border-right-0">
                                    <i class="mdi mdi-lock-outline text-primary"></i>
                                </span>
                            </div>
                            <input asp-for="CheckNewPassword" class="form-control form-control-lg border-left-0" placeholder="New Repeat Password">
                        </div>
                        <span class="text-danger" asp-validation-for="CheckNewPassword"></span>
                    </div>
                    <div class="mt-3">
                        <button type="submit" class="btn btn-outline-success">
                            Reset Password
                        </button>
                        <a class="btn btn-outline-secondary" asp-controller="User" asp-action="Index">Go Back</a>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>
<partial name="_ValidationPatial" />

