@model Notice
@{
    ViewData["Title"] = "Create";
}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Create Slider</h4>
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label asp-for="@Model.Content"></label><span class="text-danger">*</span>
                    <textarea class="form-control" asp-for="@Model.Content"></textarea>
                    <span class="text-danger" asp-validation-for="@Model.Content"></span>
                </div>
                <button type="submit" class="btn btn-outline-primary mr-2">Submit</button>
                <a class="btn btn-outline-danger" asp-action="Index">Cancel</a>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    <partial name="_ValidationPatial" />
}