@model Category
@{
    ViewData["Title"] = "Delete";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-warning">@Model.Name</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4 class="text-danger">Are you sure?</h4>
            <form method="post">
                <button type="submit" class="btn btn-outline-danger">Delete</button>
            </form>
            <a asp-action="Index" class="btn btn-outline-secondary mt-4">Go Back</a>
        </div>
    </div>
</div>