@model List<About>
@{
    ViewData["Title"] = "Index";
}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <h4 class="card-title">Notice Table</h4>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th> Image </th>
                            <th> Title </th>
                            <th> Content </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (About about in Model)
                        {
                        <tr>
                            <td class="py-1">
                                <img src="~/assets/img/about/@about.Image" style="width:100px; height:100px" />
                            </td>
                            <td class="py-1" style="width: 13%;">
                                <div>@Html.Raw(about.Title)</div>
                            </td>
                            <td class="py-1">
                                <p>@Html.Raw(about.Content)</p>
                            </td>
                            <td style="width: 30%;">
                                <a asp-controller="About" asp-action="Detail" asp-route-id="@about.Id" class="btn btn-rounded btn-outline-info">
                                    <i class="mdi mdi-information-outline"></i>
                                </a>
                                <a asp-controller="About" asp-action="Update" asp-route-id="@about.Id" class="btn btn-rounded btn-outline-warning">
                                    <i class="mdi mdi-table-edit"></i>
                                </a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
