@model Testimonial

@{
    ViewData["Title"] = "Detail";
}

<div class="container">
    <div class="row">
        <div class="col-md-8 grid-margin">
            <div class="card">
                <div class="card-body">
                    <img src="~/assets/img/testimonial/@Model.Image" class="mw-100" />
                </div>
                <div class="my-3">
                    <div class="px-3">@Model.FullName</div>
                    <div class="px-3">@Model.Description</div>
                    <div class="px-3">@Model.Note</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <a asp-action="Index" class="btn btn-outline-secondary">Go Back</a>
    </div>
</div>